# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author

Haseeb Akhlaq

<b>Objectives</b>

* Anaconda Enviroment
* R & R studio
* Python

Some of the popular languages that Data Scientists use are:
    
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Matplot.lib
2. Scikit learn
3. Pandas

| DataScience Tools |
| --- |
| Jupyter Notebook |
| Visual Studio Code |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335